<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portico</title>

	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<!-- My Custom CSS -->
	<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css" />

</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
			  <a class="navbar-brand" href="#">
			    <img src="../public/assets/images/logo.png" width="330" height="auto" alt="">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Artist</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Catalog</a>
			      </li>
			    </ul>
			    
			  </div>
		</div>
	</nav>
<!-- ==================================================================================================== -->
	
	<div class="container">
		<div class="row"> 
			<div class="col-lg-4">
				<div id="artist-profile" class="card">
					<div class="card text-center">
					  <img class="card-img-top" src="../public/assets/images/athens.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h4 class="card-title">Artist Name</h4>
					    <hr>
					    <p class="card-text-centered">ID Number: </p>
					    <p class="card-text-centered">Item Count: </p>
					    <a href="#" id="artist-login" class="btn btn-warning btn-lg btn-block">Full Profile</a>
					  </div>
					</div>
				</div>
			</div>

			<!-- <div class="col-lg-1"></div> -->

			<div id="items-list" class="col-lg-8">
				<h3>Associated Items with this Artist</h3>
					<div class="row"> 
						<div id="artist-item" class="col-lg-4">
						    <div class="card">
						      <div class="card-body">
						        <h4 class="card-title">Special title treatment</h4>
						        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						        <a href="#" class="card-link">Details</a>
						      </div>
						    </div>
						</div>
						<div id="artist-item" class="col-lg-4">
						    <div class="card">
						      <div class="card-body">
						        <h4 class="card-title">Special title treatment</h4>
						        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						        <a href="#" class="card-link">Details</a>
						      </div>
						    </div>
						</div>
						<div id="artist-item" class="col-lg-4">
						    <div class="card">
						      <div class="card-body">
						        <h4 class="card-title">Special title treatment</h4>
						        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						        <a href="#" class="card-link">Details</a>
						      </div>
						    </div>
						</div>
						<div id="artist-item" class="col-lg-4">
						    <div class="card">
						      <div class="card-body">
						        <h4 class="card-title">Special title treatment</h4>
						        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						        <a href="#" class="card-link">Details</a>
						      </div>
						    </div>
						</div>
					</div>
  
				

			</div>
			


		</div>

			
		
			

	



</body>
</html>
