<div id="home-container" class="container">
	<div class="row"> 
		<div class="col-lg-4"></div>
		

		<div id="homepage-card" class="card text-center col-lg-4">
		  <img class="card-img-top" src="/assets/images/welcome-animation.gif" alt="Card image cap">
		  <div class="card-body">
		    <h4 class="card-title">Welcome</h4>
		    <p class="card-text-centered">Select an option to begin.</p>
		    <a href="../artist.html" id="artist-login" class="btn btn-success btn-lg btn-block">Find Artist</a>
		    <a href="../catalog.html" id="catalog-login" class="btn btn-primary btn-lg btn-block">View Catalog</a>
		  </div>
		</div>


		<div class="col-lg-4"></div>
	</div>			
	
		
</div> <!-- CLOSES CONTAINER -->

<script type="text/javascript">
	window.onload = function() {
	$("#nav-options").hide();
	};

</script>