<div class="container">
		<div class="row"> 
			<div class="col-lg-4" style="background-color: black; height: 30px"></div>
		

		<div id="homepage-card" class="card text-center col-lg-4">
		  <img class="card-img-top" src="../assets/images/athens.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h4 class="card-title">Welcome</h4>
		    <p class="card-text-centered">Select an option to begin.</p>
		    <a href="#" id="artist-login" class="btn btn-success btn-lg btn-block">Artist</a>
		    <a href="#" id="catalog-login" class="btn btn-primary btn-lg btn-block">Catalog</a>
		  </div>
		</div>


			<div class="col-lg-4" style="background-color: black; height: 30px"></div>
		</div>

</div> <!-- CLOSES CONTAINER -->